{% load static %}


<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/MainPage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/UserPage.css' %}">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script>
    //フェード用
    $(function () {
      $('body').hide().fadeIn(750);
    });

    //ユーザを検索したとき、モーダル画面に戻ってこれるようにセッションストレージにフラグを入れておく
    function userSearchSubmit() {
      sessionStorage.searchUserFlag = 'true';
      $('userSearchForm').submit();
    }

    //ロード時、フラグがtrueならモーダル画面を表示、表示後にfalseに戻す
    window.onload = function () {
      if (sessionStorage.searchUserFlag == 'true') {
        $('#basicModal-search-user').modal('show');
        sessionStorage.searchUserFlag = 'false';
      }
    }

  </script>
</head>

<body>

  <nav class="navbar navbar-default sticky-top" id="titlebar">
    <a href="{%url 'home' %}" class="no-decoration">
      <h3>samplesns</h3>
    </a>


    <div id="option-wrapper">
      <a href="{%url 'logout' %}">
        <button type="button" id="white-button" class="btn btn-primary">
          ログアウト
        </button>
      </a>
    </div>
  </nav>

  {% if flag == "my" %}
  <div id="user-info-wrapper">

    {% if request.session.user.samne == 'None' %}
    <img src="{% static 'loadingimgs/anonymous-user.png' %}" width="50" height="50" class="rounded-circle"
      id="profile-image">

    {% else %}
    <img src="/static/{{request.session.user.samne}}" width=100px height=100px class="rounded-circle"
      id="user-page-profile-img">
    {% endif %}

    <div id="user-details-wrapper">
      <div id="user-name-wrapper">
        <h2 id="user-name-h2">{{request.session.user.account_name}}</h2>
        <a href="#" class="link-style-btn" data-toggle="modal" data-target="#basicModal-useranalytics"
          id="useranalytics-trigger-button">投稿状況</a>
      </div>
      {% if not user.introduce == 'None' %}
      <div id="user-introduce-wrapper">
        <div id="user-introduce">
          {{user.introduce}}
        </div>
      </div>
      {% endif %}
    </div>
    <div id="submenu-buttons-wrapper">
      <!-- ユーザ検索ボタン -->
      <div id="search-user-trigger-wrapper">
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-search-user"
          id="search-user-trigger-button">ユーザの検索</a>
      </div>
      {% if flag == "my" %}
      <!-- プロフィール画像更新用ボタン -->
      <div id="change-thumbnail-wrapper">
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-profile-image"
          id="change-thumbnail-button">プロフィール画像の変更</a>
      </div>
      <!-- 自己紹介文変更ボタン -->
      <div id="change-message-wrapper">
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-profile-message"
          id="change-message-button">自己紹介文の変更</a>
      </div>
      <!-- パスワード変更ボタン -->
      <div id="change-message-wrapper">
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-password-update"
          id="change-message-button">パスワードの変更</a>
      </div>
      <!-- アカウント削除ボタン -->
      <div id="change-message-wrapper">
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-delete-user"
          id="change-message-button">アカウントの削除</a>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
  {% else %}
  <div id="friend-info-wrapper">
    {% if not user.samne == 'None' %}

    <img src="/static/{{user.samne}}" width=100px height=100px class="rounded-circle" id="user-page-profile-img">
    {% else %}
    <img src="{% static '/loadingimgs/anonymous-user.png ' %}" width="100" height="100" class="rounded-circle"
      id="user-page-profile-img">
    {% endif %}
    <div id="user-details-wrapper">
      <div id="user-name-wrapper">
        <h2>{{user.account_name}}</h2>
        {% if not user.introduce == 'None' %}
        <div id="user-introduce-wrapper">
          <div id="user-introduce">
            {{user.introduce}}
          </div>
        </div>
        {% endif %}
      </div>
      <div id="submenu-buttons-wrapper">
        <!-- ユーザ検索ボタン -->
        <div id="search-user-trigger-wrapper">
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#basicModal-search-user"
            id="search-user-trigger-button">ユーザの検索</a>
        </div>

        {% if follow == 1 %}
        <form action="{%url 'add' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="flag" value="{{user.id}}">
          <input type="submit" value="フォローする" class="btn btn-danger" id="follow-button">
        </form>
        {% else %}
        <input type="submit" value="フォロー済み" class="btn btn-danger" id="follow-button" disabled="true">
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <!--　画像投稿用モーダル画面 -->
  <div class="modal fade" id="basicModal-profile-image" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">プロフィール画像の変更</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form action="{%url 'samne' %}" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            {{upload}}<br>
            <input type="submit" value="画像の更新" class="btn btn-danger" id="upload-button">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--　自己紹介文変更用モーダル画面 -->
  <div class="modal fade" id="basicModal-profile-message" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">自己紹介文の変更</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form action="{%url 'introduce' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{introduce}}<br>
          <input type="submit" value="紹介文更新" class="btn btn-danger" id="upload-button">
        </form>
      </div>
    </div>
  </div>
  <!--　パスワード変更用モーダル画面 -->
  <div class="modal fade" id="basicModal-password-update" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">パスワードの変更</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!--パスワード変更フォーム-->
          <br>
          <input type="submit" value="パスワード変更" class="btn btn-danger" id="upload-button">
        </form>
      </div>
    </div>
  </div>
  <script>
    function checkPassword(re_password) {
      // 入力値取得
      var input1 = document.getElementById("id_password");
      var input2 = document.getElementById("id_re_password")
      // パスワード比較
      if (input1.value != input2.value) {
        re_password.setCustomValidity("入力値が一致しません。");
      } else {
        re_password.setCustomValidity('');
      }
    }
  </script>

  <!--　アカウント削除モーダル画面 -->
  <div class="modal fade" id="basicModal-delete-user" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">アカウントを削除しても良いですか？</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="submit" value="削除" class="btn btn-danger" id="upload-button">
        </form>
      </div>
    </div>
  </div>

  <!--　ユーザ検索用モーダル画面 -->
  <div class="modal fade" id="basicModal-search-user" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">ユーザの検索</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form action="{%url 'search' %}" method="post" name="userSearchForm">
          {% csrf_token %}
          {{search.friend_search}}
          <input type="submit" value="検索" class="btn btn-danger" id="search-user-button" onclick="userSearchSubmit()">
        </form>

        {% if msg %}
          {{msg}}
        {% else %}

          {% if friends %}
          <h5>検索結果</h5>
          <table class="table">
            <tr>
              <th class="table-username">ユーザ名</th>
              <th>自己紹介文</th>
            </tr>
            {% for friend in friends %}
            <tr>
              <td><a href="{% url 'friend' friend.id  %}">{{friend.account_name}}</a></td>
              <td>
                {% if not friend.introduce == 'None' %}
                {{friend.introduce}}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        {% endif %}

        <!--おすすめユーザの表示
        <h5>おすすめユーザー</h5>
        <table class="table">
          <tr>
            {%for rec_friend in rec_friends %}
            <td>
              <div>
              <a href="{%url 'friend' rec_friend.id %}">
                <button type="button" id="white-button" class="btn btn-primary">
                  <div id="username-wrapper">
                    <img src="/static/{{rec_friend.samne}}" width=100px height=100px class="rounded-circle"
                      id="user-page-profile-img">
                    <font size = "5">{{rec_friend.account_name}}</font>
                  </div>
                </button>
              </a>
            </div>
            </td>
            {%endfor%}
          </tr>
        </table>
        -->
      </div>
    </div>
  </div>

  <!--　 ユーザ分析モーダル画面 
  <div class="modal fade" id="basicModal-useranalytics" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="post-item-title">投稿状況</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div id="post_img">
          <h5>●投稿日 × 投稿数</h5>
          1年間の投稿状況です。
          <img src="/static/files/u{{user.id}}/u{{user.id}}_dates.png">
          <h5>●投稿時間 × 投稿数</h5>
          投稿する時間帯についての割合です。
          <img src="/static/files/u{{user.id}}/u{{user.id}}_times.png">
        </div>
      </div>
    </div>
  </div>
  -->

  <div align="center" class="user-photolist-wrapper">

    <!-- 写真一枚分のカード -->

    {% if flag == "my" %}
    {% if jlist %}
    {% for text in jlist %}

    <div class="card">
      <img class="card-img-top" src="/static/{{text.image}}" width="400" height="225">
      <div class="card-body">
        <div class="card-text">
          <div id="posted-time">
            <p>Posted on {{text.time}}</p>
          </div>
          <div id="photo-info">
            <h6 id="small-posted-user-name">{{text.user}}</h6> &nbsp; {{text.text}}<br>
            {% for tag in text.tag %}
            <div id="hashtags">#{{tag}}</div>
            {% endfor %}
          </div>
        </div>

        <div id="good-button-wrapper">
          {% if request.session.user.id in text.good %}
          <a href="{% url 'good' text.user text.fileName request.session.user.id %}">
            <button type="submit" class="btn btn-primary" id="good-button" disabled="disabled">
              ワッショイ！
            </button>
          </a>
          {% else %}
          <a href="{% url 'good' text.user text.fileName user.id %}">
            <button type="button" class="btn btn-primary" id="good-button">
              ワッショイ！
            </button>
          </a>

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="no-post-yet">まだ投稿がありません！</h4>
    {% endif %}
    {% else %}
    {% if jlist %}
    {% for text in jlist %}

    <div class="card">

      <img class="card-img-top" src="/static/{{text.image}}" width="400" height="225">
      <div class="card-body">
        <div class="card-text">
          <div id="posted-time">
            <p>Posted on {{text.time}}</p>
          </div>
          <div id="photo-info">
            <h6 id="small-posted-user-name">{{text.user}}</h6> &nbsp; {{text.text}}<br>
            {% for tag in text.tag %}
            <div id="hashtags">#{{tag}}</div>
            {% endfor %}
          </div>
        </div>

        <div id="good-button-wrapper">
          {% if request.session.user.id in text.good %}
          <a href="{% url 'good' text.user text.fileName request.session.user.id %}">
            <button type="button" class="btn btn-primary" id="good-button" disabled="true">
              ワッショイ！
            </button>
          </a>
          {% else %}
          <a href="{% url 'good' text.user text.fileName request.session.user.id %}">
            <button type="button" class="btn btn-primary" id="good-button">
              ワッショイ！
            </button>
          </a>

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

    {% else %}
    <h4 class="no-post-yet">まだ投稿がありません！</h4>
    {% endif %}
    {% endif %}

  </div>
</body>

</html>